@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservaHotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReservaHotel.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container">
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Hotel Paraíso</a>
                <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>

                @{
                    var isAuthenticated = User?.Identity != null && User.Identity.IsAuthenticated;
                }

                @if (isAuthenticated)
                {
                    <div class="dropdown">
                        <a class="navbar-link" href="#">Reservar</a>
                        <div class="dropdown-content">
                            <a class="navbar-link" asp-area="" asp-controller="Reservas" asp-action="Create">Crear una Reservación</a>
                            <a class="navbar-link" asp-area="" asp-controller="Reservas" asp-action="Index">Ver Reservas</a>
                        </div>
                    </div>
                }

                <div class="login-section">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="@((ViewContext.RouteData.Values["Action"]?.ToString() == "Index" &&
              ViewContext.RouteData.Values["Controller"]?.ToString() == "Home") ? "" : "container")">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ReservaHotel - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
