@model ReservaHotel.Models.Reserva
@using Microsoft.AspNetCore.Identity
@using ReservaHotel.Areas.Identity.Data
@inject UserManager<Usuario> UserManager
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FechaInicio" class="form-label"></label>
                <input asp-for="FechaInicio" class="form-control" type="date" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="FechaFin" class="form-label"></label>
                <input asp-for="FechaFin" class="form-control" type="date" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroHabitacion" class="control-label"></label>
                <input asp-for="NumeroHabitacion" class="form-control" />
                <span asp-validation-for="NumeroHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                @{
                    var isAdmin = User.IsInRole("Admin");
                }

                @if (isAdmin)
                {
                    <select asp-for="Estado" class="form-control" asp-items="Html.GetEnumSelectList<EstadoReserva>()">
                    </select>
                }
                else
                {
                    <input asp-for="Estado" class="form-control" readonly />
                }
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
